.navbar{
	border-radius: 0;
}

/* https://www.freemysqlhosting.net/account/ */

#command-container{
	width: 600px;
	
}

.center{
	margin: 0 auto;
}

#commandForm{
	width: 100%;
}

#commandInputGroup{
	width: 100%;
}

#commandInputGroup > input{
	border-right: none;
	display: inline-block;
}

#commandInputGroup > button {
	border-left: none;
	margin-left: -10px;
	display: inline-block;
}