<!DOCTYPE html>
<html>
<head>
	<title>sql</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">

</head>
<body>


	<header>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Tech-bot</a>
		    </div>

		    <ul class="nav navbar-nav navbar-right">
		     <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
		      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		    </ul>

		    <ul class="nav navbar-nav navbar-right">
		     <!-- <li class="active"><a href="#">Home</a></li>
		      <li><a href="#">About</a></li>   -->
		      <li><a href="#">database</a></li>
		    </ul>

		  </div>
		</nav>

	</header>


	<div class="container">
		<div class="row center" id="robotImageContainer">
			<img src="{{ url_for('static', filename='images/robot.svg') }}" class="col-lg-12">
		</div>

		<div class="row center"  id="command-container">
			<div class="col-lg-12">
		    	<form action="" method="POST">

				    <div class="form-group" id="commandInputGroup">
							<!--
				      <input type="text" class="form-control form-control-lg" placeholder="Enter command" name="command">
				      <input type="submit" class="btn btn-default" value="->">
						-->
							{{ form.search(class="form-control form-control-lg", placeholder="Enter command") }}
							{{ form.submit(class="btn btn-default", value="->") }}
				    </div>

		    	</form>


			</div>
		</div>
	</div>


	<div class="container">
		<div class="row">
			{% for result in results %}
				<div>{{ result }}</div>
			{% endfor %}
		</div>
	</div>


</body>
</html>
